<div id="app container" >
  <nav class="navbar">
<!--     <div class="col-md-6 col-md-offset-3">
      <search 
        new-search="$ctrl.searchResults"
        enter="$ctrl.keyEnter"
        user-types-something="$ctrl.userTypesSomething"
      />
    </div> -->
  </nav>
  <!-- <div class="row">
    <div class="col-md-7">
      <video-player 
        current-video="$ctrl.currentVideo"
      />
    </div>
    <div class="col-md-5">
      <video-list
        videos = "$ctrl.videos"
        select-video = "$ctrl.selectVideo"
        load-more-vids = "$ctrl.loadMoreVids"
      />
    </div>
  </div> -->
  <div>
    <h3>Welcome to THE GAME</h3>
  </div>
  <div>
    Hello
    <br>
 <!--    {{$ctrl.deck}} -->
    <table-top
      draw-pile = "$ctrl.drawPile"
      ascending-pile1 = "$ctrl.ascendingPile1"
      ascending-pile2 = "$ctrl.ascendingPile2"
      descending-pile1 = "$ctrl.ascendingPile1"
      descending-pile2 = "$ctrl.ascendingPile2"
      start-game-over = "$ctrl.startGameOver"
      player-hand = "$ctrl.playerHand"
    />
  </div>
</div>