

body {
  /*background-image: url("https://awesomewallpapers.files.wordpress.com/2010/09/wood-wallpaper.png");*/
  background-image: url("https://hdwallsource.com/img/2014/4/wood-wallpaper-10123-10482-hd-wallpapers.jpg");
  padding: 1.5em;
  font-family: arial, sans-serif;
  color: white;
}

.navBar {
  margin-bottom: 20px;
  width: 100%;
  display: inline;
}

.navBar button {
  margin-left: 3em;
  font-size: 60%;
}

.playerHand {
  margin-top: 5em;
  float: left;
  display: block;
  width: 100%;
}

.pilesLayout {
/*  margin-top: 5em;
  margin-bottom: 5em;*/
  display: inline;
  padding-left: 8rem;
  float: left;
  width: 70%;
}

.drawPile {
/*  margin-top: 5em;
  margin-bottom: 5em;*/
  display: inline;
  float: left;
  width: 30%;
}

.pilesRow {
/*  margin-top: 5em;
  margin-bottom: 5em;*/
  margin-top: 5rem;
  margin-bottom: 3rem;
  display: block;
  float: left;
  width: 100%;
}

.card {
  border: 0.3rem solid black;
  display: inline;
  margin: 0.1rem;
  font: impact;
  font-style: oblique;
  font-weight: 800;
  font-size: 250%;
  border-radius: 12%;
  color: black;
  width: 7rem;
  height: 10rem;
  vertical-align: center;
  text-align: center;
}

.hand {
  float: left;
  padding: 1.5rem;
  background: linear-gradient(to bottom right, red, white);
}

.pile {
  padding: 1.5em 1em 1.5em 1em;
  background: linear-gradient(to bottom right, green, white);
}

.referencePile {
  padding: 1em .7em 1em .7em;
  background: linear-gradient(to bottom right, grey, white);
}

.pileIndicator {
  border: 0.1em solid black;
  margin: 0.1em;
  padding: 1em;
  display: inline;
  font: impact;
  font-style: oblique;
  font-weight: 800;
  font-size: 250%;
}

/*.search-bar {
  border-radius: 1px;
  background: #fff;
}

.search-bar .form-control {
  border-radius: 2px;
  width: 80%
}
.search-bar .btn {
  border-radius: 2px;
  border-color: #d3d3d3;
  background: #f8f8f8;
  width: 20%;
  margin-left: -1px;
}

.search-bar .btn:hover {
  border-color: #c6c6c6;
  background: #f0f0f0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.10);
}

.video-player {
  margin-top: 50px
  margin-left: 20px;
  margin-right: 20px;
  position: fixed;
}

.video-player-details {
  background: #fff;
  padding: 8px;
  border: 0;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  margin-top: 10px;
}

.video-list {
  background: #fff;
  padding: 8px;
  border: 0;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

.video-list-entry {
  font-size: 16px;
  padding: 8px;
}

.video-list-entry-title {
  font-weight: bold;
}

.video-list-entry-title:hover {
  color: #e62117;
  cursor: pointer;
}

.video-list-entry-detail {
  font-size: 12px;
  color: #999;
}

.loading {
  padding-left: 20px;
}

.media-body {
  padding-left: 20px;
}

h5 {
  border: 2px solid red;
  text-align: center;
  padding: 10px;
}*/
